@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h4 {
  @apply text-lg font-bold text-black
}

h5 {
  @apply text-lg font-bold text-black
}

h6 {
  @apply text-sm font-bold text-[#5C5C5C]
}

p {
  @apply text-sm  text-[#5C5C5C]
}

button {
  @apply px-2 py-1 border-[#47bb92] border-[1px] rounded-md
}

label {
  @apply text-blue-950 font-bold mt-3
}

input {
  @apply py-2 px-3 text-gray-800 bg-transparent
}

select {
  @apply py-2 px-3 text-gray-800 bg-white
}